header.header
	.header__logo
		img(src=require('./../../assets/images/logo.svg'))

	ul.header__menu
		li: a(href="") Туры
		li: a(href="#") Достопримечательности 
		li: a(href="#") Фото 
		li: a(href="#") О нас
	button.header__btn-translator
		img(src=require('./../../assets/images/translator.svg') alt="translator")

	.btn-tours Выбрать тур