doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Bison
  body
    include ./../components/_header.pug

    block content

    include ./../components/_footer.pug

    script(src="bundle.js")
    script(src="index.js")